.specialnav{
    height: 50px;
    padding: 0;
}
.codemirror{
    border: 1px solid black!important;

}
#error{
    display: none;
}

.linter-container {
    padding-top: 5%;
    width: 60%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.valid-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}